nodered/flows.json
[
    {
        "id": "flow_main",
        "type": "tab",
        "label": "Controleur Intersection VA55",
        "disabled": false,
        "info": "Modes: FEU, FIFO, PELOTON"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_controller",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "Intersection VA55",
        "icon": "fa-road",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_control",
        "type": "ui_group",
        "name": "⚙️ Contrôle",
        "tab": "tab_main",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "group_status",
        "type": "ui_group",
        "name": "",
        "tab": "tab_main",
        "order": 2,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "c8ac79a3dbaaebaf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "value": "#0094CE"
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE"
                },
                "page-backgroundColor": {
                    "value": "#fafafa"
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff"
                },
                "group-textColor": {
                    "value": "#1bbfff"
                },
                "group-borderColor": {
                    "value": "#ffffff"
                },
                "group-backgroundColor": {
                    "value": "#ffffff"
                },
                "widget-textColor": {
                    "value": "#111111"
                },
                "widget-backgroundColor": {
                    "value": "#0094ce"
                },
                "widget-borderColor": {
                    "value": "#ffffff"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Robot Status",
        "topic": "intersection/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "debug_in",
                "func_control"
            ]
        ]
    },
    {
        "id": "debug_in",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug IN",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "timer_tick",
        "type": "inject",
        "z": "flow_main",
        "name": "Tick 1s",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "timer_tick",
        "payload": "tick",
        "payloadType": "str",
        "x": 100,
        "y": 200,
        "wires": [
            [
                "func_control"
            ]
        ]
    },
    {
        "id": "func_control",
        "type": "function",
        "z": "flow_main",
        "name": "Multi-Mode Controller (FEU/FIFO/PELOTON)",
        "func": "// =============================================================================\n// CONTROLEUR UNIVERSEL VA55 - 3 ALGORITHMES\n// =============================================================================\n\nlet mode = global.get(\"mode\") || \"FIFO\";\nlet state = flow.get(\"state\") || {};\n\n// --- INITIALISATION ETAT ---\nif (!state.intersection) state.intersection = \"LIBRE\";\nif (!state.queue) state.queue = [];           // FIFO queue\nif (!state.file_attente) state.file_attente = []; // FEU waiting list\nif (!state.robots) state.robots = {};         // Tous les robots connus\nif (!state.phase) state.phase = 0;            // FEU: 0=VertA, 1=RougeTout, 2=VertB, 3=RougeTout\nif (!state.timer) state.timer = 0;            // FEU: compteur secondes\nif (!state.feu) state.feu = { A: \"VERT\", B: \"ROUGE\" };\nif (!state.queue_voie_A) state.queue_voie_A = 0;  // PELOTON: distance queue voie A\nif (!state.queue_voie_B) state.queue_voie_B = 0;  // PELOTON: distance queue voie B\nif (!state.history) state.history = [];\nif (!state.stats) state.stats = { total: 0, passed: 0 };\n\n// Configuration FEU (durees en secondes)\nconst DUREE_VERT = 10;\nconst DUREE_ROUGE_INTEGRAL = 3;\nconst DISTANCE_INTER_ROBOT = 35; // cm pour peloton\n\nlet commands = [];\n\n// Fonction utilitaire pour formater le dashboard\nfunction formatDashboard(s, m) {\n    let robotsA = 0, robotsB = 0;\n    for (let id in s.robots) {\n        if (s.robots[id].voie === 'A') robotsA++; else robotsB++;\n    }\n    let queueIds = m === \"FEU\" ? s.file_attente : s.queue;\n    return {\n        mode: m,\n        intersection: s.intersection,\n        queue: queueIds,\n        feu: s.feu,\n        robots: s.robots,\n        queue_count: queueIds.length,\n        robots_total: Object.keys(s.robots).length,\n        robots_a: robotsA,\n        robots_b: robotsB,\n        history: s.history || [],\n        stats: s.stats || { total: 0, passed: 0 },\n        phase: s.phase,\n        timer: s.timer,\n        queue_voie_A: s.queue_voie_A,\n        queue_voie_B: s.queue_voie_B\n    };\n}\n\n// =============================================================================\n// EVENEMENT A : TIMER TICK (1 seconde) - Uniquement pour MODE FEU\n// =============================================================================\nif (msg.topic === \"timer_tick\" || msg.payload === \"tick\") {\n    \n    if (mode === \"FEU\") {\n        state.timer++;\n        \n        // Determiner la duree de la phase actuelle\n        let duree_phase = (state.phase === 0 || state.phase === 2) ? DUREE_VERT : DUREE_ROUGE_INTEGRAL;\n        \n        // Changement de phase si duree depassee\n        if (state.timer >= duree_phase) {\n            state.phase = (state.phase + 1) % 4;\n            state.timer = 0;\n            node.warn(\"[FEU] Nouvelle phase: \" + state.phase);\n        }\n        \n        // Mise a jour des feux selon la phase\n        if (state.phase === 0) {\n            state.feu = { A: \"VERT\", B: \"ROUGE\" };\n        } else if (state.phase === 1 || state.phase === 3) {\n            state.feu = { A: \"ROUGE\", B: \"ROUGE\" };\n        } else if (state.phase === 2) {\n            state.feu = { A: \"ROUGE\", B: \"VERT\" };\n        }\n        \n        // Si nouvelle phase est VERT, debloquer les robots en attente sur cette voie\n        if (state.phase === 0 || state.phase === 2) {\n            let voieVerte = (state.phase === 0) ? \"A\" : \"B\";\n            \n            // Chercher les robots bloques sur cette voie\n            let aDebloquer = state.file_attente.filter(id => {\n                let robot = state.robots[id];\n                return robot && robot.voie === voieVerte;\n            });\n            \n            aDebloquer.forEach(id => {\n                commands.push({ target_id: id, action: \"GO\" });\n                state.file_attente = state.file_attente.filter(fid => fid !== id);\n                state.intersection = \"OCCUPE\";\n                node.warn(\"[FEU] GO envoye a \" + id + \" (feu vert \" + voieVerte + \")\");\n            });\n        }\n        \n        flow.set(\"state\", state);\n        msg.dashboard = formatDashboard(state, mode);\n        \n        if (commands.length > 0) {\n            return [commands.map(c => ({ payload: c })), msg];\n        }\n        return [null, msg];\n    }\n    \n    // Pour FIFO et PELOTON, le timer ne fait rien de special\n    msg.dashboard = formatDashboard(state, mode);\n    return [null, msg];\n}\n\n// =============================================================================\n// EVENEMENT B : MESSAGE ROBOT (MQTT)\n// =============================================================================\nlet data = msg.payload;\nif (!data || !data.id) {\n    return [null, null]; // Message invalide\n}\n\nlet robot_id = data.id;\nlet voie = data.voie;\nlet etape = data.etape;\nlet cause = data.cause || \"unknown\";\nlet dist_us = data.dist_us || 9999;\n\nnode.warn(\"[\" + mode + \"] \" + robot_id + \" (\" + voie + \") etape=\" + etape + \" cause=\" + cause);\n\n// Historique\nstate.history.unshift({ \n    time: new Date().toLocaleTimeString(), \n    robot: robot_id, \n    voie: voie, \n    etape: etape, \n    cause: cause \n});\nif (state.history.length > 15) state.history.pop();\n\n// =============================================================================\n// ALGORITHME 1 : MODE FEU TRICOLORE (Temporel)\n// =============================================================================\nif (mode === \"FEU\") {\n    \n    // ETAPE 1 : Entree zone - Le feu s'en fiche\n    if (etape === 1) {\n        state.stats.total++;\n        state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, time: Date.now() };\n        // Ignorer - le feu ne reagit pas a l'entree\n    }\n    \n    // ETAPE 2 : Ligne d'arret\n    else if (etape === 2) {\n        state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, time: Date.now() };\n        \n        // Regarder la phase actuelle\n        if (state.feu[voie] === \"VERT\") {\n            // FEU VERT -> GO immediat\n            commands.push({ target_id: robot_id, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n            node.warn(\"[FEU] GO immediat pour \" + robot_id + \" (feu vert)\");\n        } else {\n            // FEU ROUGE -> Ajouter a file_attente (ne rien repondre)\n            if (!state.file_attente.includes(robot_id)) {\n                state.file_attente.push(robot_id);\n            }\n            node.warn(\"[FEU] \" + robot_id + \" ajoute a file_attente (feu rouge)\");\n            // PAS de commande envoyee - le robot attend\n        }\n    }\n    \n    // ETAPE 3 : Sortie - Le temps gere la securite\n    else if (etape === 3) {\n        state.stats.passed++;\n        delete state.robots[robot_id];\n        state.file_attente = state.file_attente.filter(id => id !== robot_id);\n        // Le Rouge Integral garantit la securite, pas besoin de logique complexe\n        if (Object.keys(state.robots).filter(id => state.robots[id].etape === 2).length === 0) {\n            state.intersection = \"LIBRE\";\n        }\n    }\n}\n\n// =============================================================================\n// ALGORITHME 2 : MODE FIFO (Acces Cooperatif - Premier Arrive Premier Servi)\n// =============================================================================\nelse if (mode === \"FIFO\") {\n    \n    // ETAPE 1 : Entree zone - PRE-RESERVATION\n    if (etape === 1) {\n        state.stats.total++;\n        state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, time: Date.now() };\n        \n        // Ajouter a la queue si pas deja present\n        if (!state.queue.includes(robot_id)) {\n            state.queue.push(robot_id);\n        }\n        \n        // Verification immediate : Si LIBRE et premier de la queue -> GO (fluidite)\n        if (state.intersection === \"LIBRE\" && state.queue[0] === robot_id) {\n            commands.push({ target_id: robot_id, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n            node.warn(\"[FIFO] PRE-GO pour \" + robot_id + \" (premier et libre)\");\n        }\n    }\n    \n    // ETAPE 2 : Ligne d'arret (securite si GO pas recu a etape 1)\n    else if (etape === 2) {\n        state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, time: Date.now() };\n        \n        // Ajouter a la queue si pas deja present (cas de latence)\n        if (!state.queue.includes(robot_id)) {\n            state.queue.push(robot_id);\n        }\n        \n        // Verification de securite\n        if (state.intersection === \"LIBRE\" && state.queue[0] === robot_id) {\n            commands.push({ target_id: robot_id, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n            node.warn(\"[FIFO] GO (etape 2) pour \" + robot_id);\n        }\n    }\n    \n    // ETAPE 3 : Sortie - Liberation et appel du suivant\n    else if (etape === 3) {\n        state.stats.passed++;\n        delete state.robots[robot_id];\n        \n        // Retirer de la queue\n        state.queue = state.queue.filter(id => id !== robot_id);\n        \n        // Liberer l'intersection\n        state.intersection = \"LIBRE\";\n        \n        // Appel du suivant\n        if (state.queue.length > 0) {\n            let suivant = state.queue[0];\n            commands.push({ target_id: suivant, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n            node.warn(\"[FIFO] GO pour suivant: \" + suivant);\n        }\n    }\n}\n\n// =============================================================================\n// ALGORITHME 3 : MODE PELOTON (Inference de Distance)\n// =============================================================================\nelse if (mode === \"PELOTON\") {\n    \n    // PHASE 1 : Mise a jour des distances (Inference)\n    \n    if (etape === 1) {\n        state.stats.total++;\n        \n        if (cause === \"obstacle\") {\n            // Robot bloque derriere quelqu'un -> distance = queue_voie + 35cm\n            let queueKey = \"queue_voie_\" + voie;\n            let distance = state[queueKey] + DISTANCE_INTER_ROBOT;\n            state[queueKey] = distance;\n            state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, distance: distance, time: Date.now() };\n            node.warn(\"[PELOTON] \" + robot_id + \" bloque, distance=\" + distance);\n        } else {\n            // Robot arrive seul (marker_entry) -> distance arbitraire = 100\n            state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, distance: 100, time: Date.now() };\n            node.warn(\"[PELOTON] \" + robot_id + \" entre seul, distance=100\");\n        }\n    }\n    \n    else if (etape === 2) {\n        // Robot a la ligne d'arret -> distance = 0\n        state.robots[robot_id] = { voie: voie, etape: etape, cause: cause, distance: 0, time: Date.now() };\n        // Reset de la queue de cette voie (nouvelle file derriere lui)\n        state[\"queue_voie_\" + voie] = 0;\n        node.warn(\"[PELOTON] \" + robot_id + \" a la ligne, distance=0\");\n    }\n    \n    else if (etape === 3) {\n        // Robot sort -> supprimer\n        state.stats.passed++;\n        delete state.robots[robot_id];\n        state.intersection = \"LIBRE\";\n        node.warn(\"[PELOTON] \" + robot_id + \" sorti\");\n    }\n    \n    // PHASE 2 : Le Tri (Coeur du Peloton)\n    let robotsList = [];\n    for (let id in state.robots) {\n        robotsList.push({ id: id, ...state.robots[id] });\n    }\n    // Trier par distance croissante\n    robotsList.sort((a, b) => a.distance - b.distance);\n    \n    // PHASE 3 : La Decision\n    if (robotsList.length > 0) {\n        let leader = robotsList[0];\n        \n        // Si LIBRE et leader a distance 0 (physiquement a la ligne)\n        if (state.intersection === \"LIBRE\" && leader.distance === 0) {\n            commands.push({ target_id: leader.id, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n            node.warn(\"[PELOTON] GO pour leader \" + leader.id + \" (distance 0)\");\n        }\n    }\n}\n\n// =============================================================================\n// SAUVEGARDE ET SORTIE\n// =============================================================================\nflow.set(\"state\", state);\n\nlet msgs_out = commands.map(cmd => ({ payload: cmd }));\nmsg.dashboard = formatDashboard(state, mode);\n\nif (commands.length > 0) {\n    return [msgs_out, msg];\n}\nreturn [null, msg];",
        "outputs": 2,
        "initialize": "flow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    file_attente: [],\n    robots: {},\n    phase: 0,\n    timer: 0,\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    queue_voie_A: 0,\n    queue_voie_B: 0,\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\nglobal.set(\"mode\", \"FIFO\");",
        "x": 380,
        "y": 160,
        "wires": [
            [
                "mqtt_out",
                "debug_out"
            ],
            [
                "dashboard_update"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Robot Command",
        "topic": "intersection/command",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 640,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug OUT",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "dashboard_update",
        "type": "function",
        "z": "flow_main",
        "name": "Format Dashboard",
        "func": "let d = msg.dashboard;\nif (!d) return null;\n\nlet robotsA = 0, robotsB = 0;\nfor (let id in d.robots) {\n    if (d.robots[id].voie === 'A') robotsA++;\n    else robotsB++;\n}\n\n// Formater les robots avec leurs distances (pour PELOTON)\nlet robotsInfo = {};\nfor (let id in d.robots) {\n    let r = d.robots[id];\n    robotsInfo[id] = {\n        voie: r.voie,\n        etape: r.etape,\n        distance: r.distance || '-',\n        cause: r.cause\n    };\n}\n\nmsg.payload = {\n    mode: d.mode,\n    intersection: d.intersection,\n    queue_count: d.queue_count || 0,\n    queue_list: d.queue.join(\" → \") || \"Aucun\",\n    feu_a: d.feu?.A || \"?\",\n    feu_b: d.feu?.B || \"?\",\n    robots_total: Object.keys(d.robots).length,\n    robots_a: robotsA,\n    robots_b: robotsB,\n    robots: robotsInfo,\n    history: d.history || [],\n    stats: d.stats || { total: 0, passed: 0 },\n    phase: d.phase,\n    timer: d.timer,\n    queue_voie_A: d.queue_voie_A || 0,\n    queue_voie_B: d.queue_voie_B || 0\n};\nreturn msg;",
        "outputs": 1,
        "x": 630,
        "y": 220,
        "wires": [
            [
                "ui_main"
            ]
        ]
    },
    {
        "id": "mode_selector",
        "type": "ui_dropdown",
        "z": "flow_main",
        "name": "Mode Selector",
        "label": "",
        "tooltip": "",
        "place": "Sélectionner mode",
        "group": "group_control",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "🚦 FEU TRICOLORE",
                "value": "FEU",
                "type": "str"
            },
            {
                "label": "📋 FIFO (Premier Arrivé)",
                "value": "FIFO",
                "type": "str"
            },
            {
                "label": "🚗 PELOTON (Distance)",
                "value": "PELOTON",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "set_mode"
            ]
        ]
    },
    {
        "id": "set_mode",
        "type": "function",
        "z": "flow_main",
        "name": "Set Global Mode",
        "func": "global.set(\"mode\", msg.payload);\nnode.warn(\"Mode change: \" + msg.payload);\n\n// Reset complet de l'etat\nflow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    file_attente: [],\n    robots: {},\n    phase: 0,\n    timer: 0,\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    queue_voie_A: 0,\n    queue_voie_B: 0,\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\n\nmsg.payload = { mode: msg.payload, message: \"Mode changé vers \" + msg.payload };\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "ui_notification"
            ]
        ]
    },
    {
        "id": "ui_notification",
        "type": "ui_toast",
        "z": "flow_main",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "name": "Notification",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "ui_main",
        "type": "ui_template",
        "z": "flow_main",
        "group": "group_status",
        "name": "Dashboard Principal",
        "order": 1,
        "width": 24,
        "height": 18,
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n  \n  .dashboard {\n    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n    padding: 20px;\n    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);\n    min-height: 100vh;\n    color: #fff;\n  }\n  \n  .header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 25px;\n    padding-bottom: 15px;\n    border-bottom: 1px solid rgba(255,255,255,0.1);\n  }\n  \n  .header h1 {\n    font-size: 24px;\n    font-weight: 600;\n    margin: 0;\n    background: linear-gradient(90deg, #00d4ff, #7b2ff7);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n  }\n  \n  .mode-badge {\n    display: inline-flex;\n    align-items: center;\n    gap: 8px;\n    padding: 10px 20px;\n    border-radius: 30px;\n    font-weight: 600;\n    font-size: 14px;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n  }\n  \n  .mode-fifo { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }\n  .mode-feu { background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); }\n  .mode-peloton { background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); }\n  \n  .stats-bar {\n    display: flex;\n    gap: 15px;\n    margin-bottom: 20px;\n  }\n  \n  .stat-item {\n    flex: 1;\n    background: rgba(255,255,255,0.05);\n    border-radius: 12px;\n    padding: 15px;\n    text-align: center;\n  }\n  \n  .stat-value {\n    font-size: 28px;\n    font-weight: 700;\n  }\n  \n  .stat-label {\n    font-size: 11px;\n    color: rgba(255,255,255,0.5);\n    text-transform: uppercase;\n    margin-top: 4px;\n  }\n  \n  .grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));\n    gap: 20px;\n    margin-bottom: 25px;\n  }\n  \n  .card {\n    background: rgba(255,255,255,0.05);\n    backdrop-filter: blur(10px);\n    border: 1px solid rgba(255,255,255,0.1);\n    border-radius: 16px;\n    padding: 20px;\n    transition: transform 0.3s, box-shadow 0.3s;\n  }\n  \n  .card:hover {\n    transform: translateY(-5px);\n    box-shadow: 0 20px 40px rgba(0,0,0,0.3);\n  }\n  \n  .card-header {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    margin-bottom: 15px;\n  }\n  \n  .card-icon {\n    width: 40px;\n    height: 40px;\n    border-radius: 10px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 20px;\n  }\n  \n  .icon-status { background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); }\n  .icon-queue { background: linear-gradient(135deg, #fc4a1a 0%, #f7b733 100%); }\n  .icon-robots { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }\n  .icon-feu { background: linear-gradient(135deg, #f5576c 0%, #f093fb 100%); }\n  \n  .card-title {\n    font-size: 12px;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n    color: rgba(255,255,255,0.6);\n    font-weight: 500;\n  }\n  \n  .card-value {\n    font-size: 36px;\n    font-weight: 700;\n    margin: 10px 0;\n  }\n  \n  .status-libre { color: #38ef7d; }\n  .status-occupe { color: #f5576c; }\n  \n  .card-subtitle {\n    font-size: 13px;\n    color: rgba(255,255,255,0.5);\n  }\n  \n  .feu-container {\n    display: flex;\n    gap: 30px;\n    justify-content: center;\n    margin-top: 10px;\n  }\n  \n  .feu-item { text-align: center; }\n  \n  .feu-circle {\n    width: 60px;\n    height: 60px;\n    border-radius: 50%;\n    margin: 0 auto 10px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 24px;\n    font-weight: 700;\n    transition: all 0.3s;\n  }\n  \n  .feu-vert { background: #38ef7d; color: #1a1a2e; box-shadow: 0 0 40px #38ef7d; }\n  .feu-rouge { background: #f5576c; color: #fff; box-shadow: 0 0 40px #f5576c; }\n  \n  .feu-label {\n    font-size: 14px;\n    font-weight: 600;\n    color: rgba(255,255,255,0.8);\n  }\n  \n  .timer-display {\n    text-align: center;\n    margin-top: 15px;\n    font-size: 24px;\n    font-weight: 700;\n    color: #4facfe;\n  }\n  \n  .queue-list {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 8px;\n    margin-top: 10px;\n  }\n  \n  .queue-item {\n    padding: 6px 12px;\n    background: rgba(255,255,255,0.1);\n    border-radius: 20px;\n    font-size: 12px;\n    font-weight: 500;\n    border: 1px solid rgba(255,255,255,0.2);\n  }\n  \n  .queue-item.voie-a { border-color: #4facfe; color: #4facfe; }\n  .queue-item.voie-b { border-color: #f7b733; color: #f7b733; }\n  \n  .history-section {\n    background: rgba(255,255,255,0.03);\n    border-radius: 16px;\n    padding: 20px;\n    border: 1px solid rgba(255,255,255,0.05);\n  }\n  \n  .history-title {\n    font-size: 14px;\n    font-weight: 600;\n    margin-bottom: 15px;\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n  \n  .history-list {\n    max-height: 200px;\n    overflow-y: auto;\n  }\n  \n  .history-item {\n    display: flex;\n    align-items: center;\n    gap: 15px;\n    padding: 10px 0;\n    border-bottom: 1px solid rgba(255,255,255,0.05);\n    font-size: 13px;\n  }\n  \n  .history-time {\n    color: rgba(255,255,255,0.4);\n    font-family: monospace;\n    font-size: 11px;\n  }\n  \n  .history-robot {\n    font-weight: 600;\n    min-width: 60px;\n  }\n  \n  .history-robot.voie-a { color: #4facfe; }\n  .history-robot.voie-b { color: #f7b733; }\n  \n  .history-cause {\n    padding: 3px 10px;\n    border-radius: 10px;\n    font-size: 11px;\n    font-weight: 500;\n    background: rgba(255,255,255,0.1);\n  }\n  \n  .robots-grid {\n    display: grid;\n    grid-template-columns: repeat(2, 1fr);\n    gap: 10px;\n    margin-top: 10px;\n  }\n  \n  .voie-section {\n    background: rgba(255,255,255,0.03);\n    border-radius: 10px;\n    padding: 10px;\n  }\n  \n  .voie-header {\n    font-size: 12px;\n    font-weight: 600;\n    margin-bottom: 8px;\n    padding-bottom: 5px;\n    border-bottom: 1px solid rgba(255,255,255,0.1);\n  }\n  \n  .voie-a .voie-header { color: #4facfe; }\n  .voie-b .voie-header { color: #f7b733; }\n</style>\n\n<div class=\"dashboard\">\n  <div class=\"header\">\n    <h1>🚦 Contrôleur d'Intersection VA55</h1>\n    <div class=\"mode-badge\" ng-class=\"{'mode-fifo': msg.payload.mode=='FIFO', 'mode-feu': msg.payload.mode=='FEU', 'mode-peloton': msg.payload.mode=='PELOTON'}\">\n      <span ng-show=\"msg.payload.mode=='FIFO'\">📋</span>\n      <span ng-show=\"msg.payload.mode=='FEU'\">🚦</span>\n      <span ng-show=\"msg.payload.mode=='PELOTON'\">🚗</span>\n      {{msg.payload.mode}}\n    </div>\n  </div>\n\n  <div class=\"stats-bar\">\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #4facfe;\">{{msg.payload.stats.total}}</div>\n      <div class=\"stat-label\">Entrées</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #38ef7d;\">{{msg.payload.stats.passed}}</div>\n      <div class=\"stat-label\">Passages</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #f7b733;\">{{msg.payload.queue_count}}</div>\n      <div class=\"stat-label\">En attente</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" ng-class=\"{'status-libre': msg.payload.intersection=='LIBRE', 'status-occupe': msg.payload.intersection!='LIBRE'}\">{{msg.payload.intersection == 'LIBRE' ? '✓' : '✕'}}</div>\n      <div class=\"stat-label\">{{msg.payload.intersection}}</div>\n    </div>\n  </div>\n\n  <div class=\"grid\">\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-status\">⚡</div>\n        <div class=\"card-title\">État Intersection</div>\n      </div>\n      <div class=\"card-value\" ng-class=\"{'status-libre': msg.payload.intersection=='LIBRE', 'status-occupe': msg.payload.intersection!='LIBRE'}\">\n        {{msg.payload.intersection}}\n      </div>\n      <div class=\"card-subtitle\">Zone critique</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-queue\">⏳</div>\n        <div class=\"card-title\">File d'Attente</div>\n      </div>\n      <div class=\"card-value\">{{msg.payload.queue_count}}</div>\n      <div class=\"card-subtitle\">robots en attente</div>\n      <div class=\"queue-list\" ng-show=\"msg.payload.queue_count > 0\">\n        <span class=\"queue-item\" ng-repeat=\"item in msg.payload.queue_list.split(' → ')\" ng-class=\"{'voie-a': item.indexOf('A') > -1, 'voie-b': item.indexOf('B') > -1}\">{{item}}</span>\n      </div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-robots\">🤖</div>\n        <div class=\"card-title\">Robots Actifs</div>\n      </div>\n      <div class=\"card-value\">{{msg.payload.robots_total}}</div>\n      <div class=\"robots-grid\">\n        <div class=\"voie-section voie-a\">\n          <div class=\"voie-header\">Voie A: {{msg.payload.robots_a}}</div>\n        </div>\n        <div class=\"voie-section voie-b\">\n          <div class=\"voie-header\">Voie B: {{msg.payload.robots_b}}</div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"card\" ng-show=\"msg.payload.mode == 'FEU'\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-feu\">💡</div>\n        <div class=\"card-title\">État des Feux</div>\n      </div>\n      <div class=\"feu-container\">\n        <div class=\"feu-item\">\n          <div class=\"feu-circle\" ng-class=\"{'feu-vert': msg.payload.feu_a=='VERT', 'feu-rouge': msg.payload.feu_a=='ROUGE'}\">A</div>\n          <div class=\"feu-label\">{{msg.payload.feu_a}}</div>\n        </div>\n        <div class=\"feu-item\">\n          <div class=\"feu-circle\" ng-class=\"{'feu-vert': msg.payload.feu_b=='VERT', 'feu-rouge': msg.payload.feu_b=='ROUGE'}\">B</div>\n          <div class=\"feu-label\">{{msg.payload.feu_b}}</div>\n        </div>\n      </div>\n      <div class=\"timer-display\">Phase {{msg.payload.phase}} - Timer: {{msg.payload.timer}}s</div>\n    </div>\n    \n    <div class=\"card\" ng-show=\"msg.payload.mode == 'PELOTON'\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-status\">📏</div>\n        <div class=\"card-title\">Distances (Peloton)</div>\n      </div>\n      <div class=\"robots-grid\">\n        <div class=\"voie-section voie-a\">\n          <div class=\"voie-header\">Queue A: {{msg.payload.queue_voie_A}} cm</div>\n        </div>\n        <div class=\"voie-section voie-b\">\n          <div class=\"voie-header\">Queue B: {{msg.payload.queue_voie_B}} cm</div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"history-section\">\n    <div class=\"history-title\">📜 Historique des Événements</div>\n    <div class=\"history-list\">\n      <div class=\"history-item\" ng-repeat=\"h in msg.payload.history\">\n        <span class=\"history-time\">{{h.time}}</span>\n        <span class=\"history-robot\" ng-class=\"{'voie-a': h.voie=='A', 'voie-b': h.voie=='B'}\">{{h.robot}}</span>\n        <span>Étape {{h.etape}}</span>\n        <span class=\"history-cause\">{{h.cause}}</span>\n      </div>\n      <div ng-show=\"!msg.payload.history || msg.payload.history.length == 0\" style=\"color: rgba(255,255,255,0.3); font-style: italic;\">\n        Aucun événement pour le moment...\n      </div>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 840,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "reset_button",
        "type": "ui_button",
        "z": "flow_main",
        "name": "Reset",
        "group": "group_control",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "🔄 Reset",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e74c3c",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "reset_func"
            ]
        ]
    },
    {
        "id": "reset_func",
        "type": "function",
        "z": "flow_main",
        "name": "Reset State",
        "func": "flow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    file_attente: [],\n    robots: {},\n    phase: 0,\n    timer: 0,\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    queue_voie_A: 0,\n    queue_voie_B: 0,\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\n\nmsg.payload = {\n    mode: global.get(\"mode\") || \"FIFO\",\n    intersection: \"LIBRE\",\n    queue_count: 0,\n    queue_list: \"Aucun\",\n    feu_a: \"VERT\",\n    feu_b: \"ROUGE\",\n    robots_total: 0,\n    robots_a: 0,\n    robots_b: 0,\n    robots: {},\n    history: [],\n    stats: { total: 0, passed: 0 },\n    phase: 0,\n    timer: 0,\n    queue_voie_A: 0,\n    queue_voie_B: 0\n};\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "ui_main"
            ]
        ]
    }
]