nodered/flows.json
[
    {
        "id": "flow_main",
        "type": "tab",
        "label": "Controleur Intersection VA55",
        "disabled": false,
        "info": "Modes: FEU, FIFO"
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Docker",
        "broker": "mosquitto",
        "port": "1883",
        "clientid": "nodered_controller",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "tab_main",
        "type": "ui_tab",
        "name": "Intersection VA55",
        "icon": "fa-road",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "group_control",
        "type": "ui_group",
        "name": "⚙️ Contrôle",
        "tab": "tab_main",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "group_status",
        "type": "ui_group",
        "name": "",
        "tab": "tab_main",
        "order": 2,
        "disp": false,
        "width": 24,
        "collapse": false
    },
    {
        "id": "c8ac79a3dbaaebaf",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "value": "#0094CE"
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE"
                },
                "page-backgroundColor": {
                    "value": "#fafafa"
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff"
                },
                "group-textColor": {
                    "value": "#1bbfff"
                },
                "group-borderColor": {
                    "value": "#ffffff"
                },
                "group-backgroundColor": {
                    "value": "#ffffff"
                },
                "widget-textColor": {
                    "value": "#111111"
                },
                "widget-backgroundColor": {
                    "value": "#0094ce"
                },
                "widget-borderColor": {
                    "value": "#ffffff"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "mqtt_in",
        "type": "mqtt in",
        "z": "flow_main",
        "name": "Robot Status",
        "topic": "intersection/status",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "x": 100,
        "y": 140,
        "wires": [
            [
                "debug_in",
                "func_control"
            ]
        ]
    },
    {
        "id": "debug_in",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug IN",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 260,
        "y": 80,
        "wires": []
    },
    {
        "id": "func_control",
        "type": "function",
        "z": "flow_main",
        "name": "Multi-Mode Controller",
        "func": "// CONTROLEUR FEU / FIFO\n\nlet mode = global.get(\"mode\") || \"FIFO\";\nlet state = flow.get(\"state\") || {};\n\nif (!state.intersection) state.intersection = \"LIBRE\";\nif (!state.queue) state.queue = [];\nif (!state.robots) state.robots = {};\nif (!state.feu) state.feu = { A: \"VERT\", B: \"ROUGE\" };\nif (!state.history) state.history = [];\nif (!state.stats) state.stats = { total: 0, passed: 0 };\n\nlet data = msg.payload;\nlet robot_id = data.id;\nlet voie = data.voie;\nlet etape = data.etape;\nlet action = data.action;\n\nlet commands = [];\nnode.warn(\"[\" + mode + \"] \" + robot_id + \" (\" + voie + \") etape=\" + etape + \" action=\" + action);\n\nstate.robots[robot_id] = { voie: voie, etape: etape, action: action, time: Date.now() };\n\n// Stats\nif (etape === 1) state.stats.total++;\n\n// Historique\nstate.history.unshift({ time: new Date().toLocaleTimeString(), robot: robot_id, voie: voie, etape: etape, action: action });\nif (state.history.length > 15) state.history.pop();\n\n// MODE FEU - Alternance automatique\nif (mode === \"FEU\") {\n    if (etape === 2 && action === \"stop\") {\n        if (state.feu[voie] === \"VERT\") {\n            commands.push({ target_id: robot_id, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n        } else {\n            if (!state.queue.includes(robot_id)) state.queue.push(robot_id);\n            commands.push({ target_id: robot_id, action: \"STOP\" });\n        }\n    }\n    else if (etape === 3) {\n        state.stats.passed++;\n        delete state.robots[robot_id];\n        \n        // ALTERNANCE AUTOMATIQUE: basculer les feux apres chaque passage\n        state.feu.A = (state.feu.A === \"VERT\") ? \"ROUGE\" : \"VERT\";\n        state.feu.B = (state.feu.B === \"VERT\") ? \"ROUGE\" : \"VERT\";\n        node.warn(\"[FEU] Alternance: A=\" + state.feu.A + \" B=\" + state.feu.B);\n        \n        // Donner GO au premier robot en attente sur la voie maintenant verte\n        let newGreenVoie = (state.feu.A === \"VERT\") ? \"A\" : \"B\";\n        let waitingOnGreen = state.queue.filter(id => state.robots[id] && state.robots[id].voie === newGreenVoie);\n        \n        if (waitingOnGreen.length > 0) {\n            let next = waitingOnGreen[0];\n            state.queue = state.queue.filter(id => id !== next);\n            commands.push({ target_id: next, action: \"GO\" });\n            state.intersection = \"OCCUPE\";\n        } else {\n            state.intersection = \"LIBRE\";\n        }\n    }\n}\n// MODE FIFO\nelse if (mode === \"FIFO\") {\n    if (etape === 2 && action === \"stop\") {\n        if (state.intersection === \"LIBRE\") {\n            state.intersection = \"OCCUPE\";\n            commands.push({ target_id: robot_id, action: \"GO\" });\n        } else {\n            if (!state.queue.includes(robot_id)) state.queue.push(robot_id);\n            commands.push({ target_id: robot_id, action: \"STOP\" });\n        }\n    }\n    else if (etape === 3) {\n        state.stats.passed++;\n        delete state.robots[robot_id];\n        if (state.queue.length > 0) {\n            let next = state.queue.shift();\n            commands.push({ target_id: next, action: \"GO\" });\n        } else {\n            state.intersection = \"LIBRE\";\n        }\n    }\n}\n\nflow.set(\"state\", state);\n\nlet msgs_out = commands.map(cmd => ({ payload: cmd }));\nmsg.dashboard = {\n    mode: mode,\n    intersection: state.intersection,\n    queue: state.queue,\n    feu: state.feu,\n    robots: state.robots,\n    history: state.history,\n    stats: state.stats\n};\n\nif (commands.length > 0) return [msgs_out, msg];\nreturn [null, msg];",
        "outputs": 2,
        "initialize": "flow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    robots: {},\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\nglobal.set(\"mode\", \"FIFO\");",
        "x": 330,
        "y": 140,
        "wires": [
            [
                "mqtt_out",
                "debug_out"
            ],
            [
                "dashboard_update"
            ]
        ]
    },
    {
        "id": "mqtt_out",
        "type": "mqtt out",
        "z": "flow_main",
        "name": "Robot Command",
        "topic": "intersection/command",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 580,
        "y": 100,
        "wires": []
    },
    {
        "id": "debug_out",
        "type": "debug",
        "z": "flow_main",
        "name": "Debug OUT",
        "active": true,
        "tosidebar": true,
        "complete": "payload",
        "x": 570,
        "y": 160,
        "wires": []
    },
    {
        "id": "dashboard_update",
        "type": "function",
        "z": "flow_main",
        "name": "Format Dashboard",
        "func": "let d = msg.dashboard;\n\nlet robotsA = 0, robotsB = 0;\nfor (let id in d.robots) {\n    if (d.robots[id].voie === 'A') robotsA++;\n    else robotsB++;\n}\n\nmsg.payload = {\n    mode: d.mode,\n    intersection: d.intersection,\n    queue_count: d.queue.length,\n    queue_list: d.queue.join(\" → \") || \"Aucun\",\n    feu_a: d.feu?.A || \"?\",\n    feu_b: d.feu?.B || \"?\",\n    robots_total: Object.keys(d.robots).length,\n    robots_a: robotsA,\n    robots_b: robotsB,\n    robots: d.robots,\n    history: d.history || [],\n    stats: d.stats || { total: 0, passed: 0 }\n};\nreturn msg;",
        "outputs": 1,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "ui_main"
            ]
        ]
    },
    {
        "id": "mode_selector",
        "type": "ui_dropdown",
        "z": "flow_main",
        "name": "Mode Selector",
        "label": "",
        "tooltip": "",
        "place": "Sélectionner mode",
        "group": "group_control",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "🚦 FEU TRICOLORE",
                "value": "FEU",
                "type": "str"
            },
            {
                "label": "📋 FIFO (Premier Arrivé)",
                "value": "FIFO",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "mode",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "set_mode"
            ]
        ]
    },
    {
        "id": "set_mode",
        "type": "function",
        "z": "flow_main",
        "name": "Set Global Mode",
        "func": "global.set(\"mode\", msg.payload);\nnode.warn(\"Mode: \" + msg.payload);\nflow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    robots: {},\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\nmsg.payload = { mode: msg.payload, message: \"Mode changé vers \" + msg.payload };\nreturn msg;",
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "ui_notification"
            ]
        ]
    },
    {
        "id": "ui_notification",
        "type": "ui_toast",
        "z": "flow_main",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "name": "Notification",
        "x": 510,
        "y": 300,
        "wires": []
    },
    {
        "id": "feu_toggle",
        "type": "ui_button",
        "z": "flow_main",
        "name": "Toggle Feu",
        "group": "group_control",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "🔄 Alterner Feux",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#607D8B",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "feu",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "toggle_feu_func"
            ]
        ]
    },
    {
        "id": "toggle_feu_func",
        "type": "function",
        "z": "flow_main",
        "name": "Toggle Feu Logic",
        "func": "let state = flow.get(\"state\") || {};\nif (!state.feu) state.feu = { A: \"VERT\", B: \"ROUGE\" };\n\nif (state.feu.A === \"VERT\") {\n    state.feu.A = \"ROUGE\";\n    state.feu.B = \"VERT\";\n} else {\n    state.feu.A = \"VERT\";\n    state.feu.B = \"ROUGE\";\n}\n\nflow.set(\"state\", state);\nnode.warn(\"Feu: A=\" + state.feu.A + \" B=\" + state.feu.B);\n\nlet commands = [];\nfor (let id in state.robots) {\n    let robot = state.robots[id];\n    if (robot.etape === 2 && robot.action === \"stop\" && state.feu[robot.voie] === \"VERT\") {\n        commands.push({ target_id: id, action: \"GO\" });\n        state.intersection = \"OCCUPE\";\n    }\n}\n\nflow.set(\"state\", state);\n\nif (commands.length > 0) return { payload: commands[0] };\nreturn null;",
        "outputs": 1,
        "x": 310,
        "y": 360,
        "wires": [
            [
                "mqtt_out"
            ]
        ]
    },
    {
        "id": "ui_main",
        "type": "ui_template",
        "z": "flow_main",
        "group": "group_status",
        "name": "Dashboard Principal",
        "order": 1,
        "width": 24,
        "height": 16,
        "format": "<style>\n  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');\n  \n  .dashboard {\n    font-family: 'Inter', -apple-system, BlinkMacSystemFont, sans-serif;\n    padding: 20px;\n    background: linear-gradient(135deg, #1a1a2e 0%, #16213e 100%);\n    min-height: 100vh;\n    color: #fff;\n  }\n  \n  .header {\n    display: flex;\n    justify-content: space-between;\n    align-items: center;\n    margin-bottom: 25px;\n    padding-bottom: 15px;\n    border-bottom: 1px solid rgba(255,255,255,0.1);\n  }\n  \n  .header h1 {\n    font-size: 24px;\n    font-weight: 600;\n    margin: 0;\n    background: linear-gradient(90deg, #00d4ff, #7b2ff7);\n    -webkit-background-clip: text;\n    -webkit-text-fill-color: transparent;\n  }\n  \n  .mode-badge {\n    display: inline-flex;\n    align-items: center;\n    gap: 8px;\n    padding: 10px 20px;\n    border-radius: 30px;\n    font-weight: 600;\n    font-size: 14px;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n  }\n  \n  .mode-fifo { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }\n  .mode-feu { background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); }\n  \n  .stats-bar {\n    display: flex;\n    gap: 15px;\n    margin-bottom: 20px;\n  }\n  \n  .stat-item {\n    flex: 1;\n    background: rgba(255,255,255,0.05);\n    border-radius: 12px;\n    padding: 15px;\n    text-align: center;\n  }\n  \n  .stat-value {\n    font-size: 28px;\n    font-weight: 700;\n  }\n  \n  .stat-label {\n    font-size: 11px;\n    color: rgba(255,255,255,0.5);\n    text-transform: uppercase;\n    margin-top: 4px;\n  }\n  \n  .grid {\n    display: grid;\n    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));\n    gap: 20px;\n    margin-bottom: 25px;\n  }\n  \n  .card {\n    background: rgba(255,255,255,0.05);\n    backdrop-filter: blur(10px);\n    border: 1px solid rgba(255,255,255,0.1);\n    border-radius: 16px;\n    padding: 20px;\n    transition: transform 0.3s, box-shadow 0.3s;\n  }\n  \n  .card:hover {\n    transform: translateY(-5px);\n    box-shadow: 0 20px 40px rgba(0,0,0,0.3);\n  }\n  \n  .card-header {\n    display: flex;\n    align-items: center;\n    gap: 10px;\n    margin-bottom: 15px;\n  }\n  \n  .card-icon {\n    width: 40px;\n    height: 40px;\n    border-radius: 10px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 20px;\n  }\n  \n  .icon-status { background: linear-gradient(135deg, #11998e 0%, #38ef7d 100%); }\n  .icon-queue { background: linear-gradient(135deg, #fc4a1a 0%, #f7b733 100%); }\n  .icon-robots { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); }\n  .icon-feu { background: linear-gradient(135deg, #f5576c 0%, #f093fb 100%); }\n  \n  .card-title {\n    font-size: 12px;\n    text-transform: uppercase;\n    letter-spacing: 1px;\n    color: rgba(255,255,255,0.6);\n    font-weight: 500;\n  }\n  \n  .card-value {\n    font-size: 36px;\n    font-weight: 700;\n    margin: 10px 0;\n  }\n  \n  .status-libre { color: #38ef7d; }\n  .status-occupe { color: #f5576c; }\n  \n  .card-subtitle {\n    font-size: 13px;\n    color: rgba(255,255,255,0.5);\n  }\n  \n  .feu-container {\n    display: flex;\n    gap: 30px;\n    justify-content: center;\n    margin-top: 10px;\n  }\n  \n  .feu-item { text-align: center; }\n  \n  .feu-circle {\n    width: 60px;\n    height: 60px;\n    border-radius: 50%;\n    margin: 0 auto 10px;\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    font-size: 24px;\n    font-weight: 700;\n    transition: all 0.3s;\n  }\n  \n  .feu-vert { background: #38ef7d; color: #1a1a2e; box-shadow: 0 0 40px #38ef7d; }\n  .feu-rouge { background: #f5576c; color: #fff; box-shadow: 0 0 40px #f5576c; }\n  \n  .feu-label {\n    font-size: 14px;\n    font-weight: 600;\n    color: rgba(255,255,255,0.8);\n  }\n  \n  .queue-list {\n    display: flex;\n    flex-wrap: wrap;\n    gap: 8px;\n    margin-top: 10px;\n  }\n  \n  .queue-item {\n    padding: 6px 12px;\n    background: rgba(255,255,255,0.1);\n    border-radius: 20px;\n    font-size: 12px;\n    font-weight: 500;\n    border: 1px solid rgba(255,255,255,0.2);\n  }\n  \n  .queue-item.voie-a { border-color: #4facfe; color: #4facfe; }\n  .queue-item.voie-b { border-color: #f7b733; color: #f7b733; }\n  \n  .history-section {\n    background: rgba(255,255,255,0.03);\n    border-radius: 16px;\n    padding: 20px;\n    border: 1px solid rgba(255,255,255,0.05);\n  }\n  \n  .history-title {\n    font-size: 14px;\n    font-weight: 600;\n    margin-bottom: 15px;\n    display: flex;\n    align-items: center;\n    gap: 10px;\n  }\n  \n  .history-list {\n    max-height: 200px;\n    overflow-y: auto;\n  }\n  \n  .history-item {\n    display: flex;\n    align-items: center;\n    gap: 15px;\n    padding: 10px 0;\n    border-bottom: 1px solid rgba(255,255,255,0.05);\n    font-size: 13px;\n  }\n  \n  .history-time {\n    color: rgba(255,255,255,0.4);\n    font-family: monospace;\n    font-size: 11px;\n  }\n  \n  .history-robot {\n    font-weight: 600;\n    min-width: 60px;\n  }\n  \n  .history-robot.voie-a { color: #4facfe; }\n  .history-robot.voie-b { color: #f7b733; }\n  \n  .history-action {\n    padding: 3px 10px;\n    border-radius: 10px;\n    font-size: 11px;\n    font-weight: 500;\n  }\n  \n  .action-run { background: rgba(56, 239, 125, 0.2); color: #38ef7d; }\n  .action-stop { background: rgba(245, 87, 108, 0.2); color: #f5576c; }\n  \n  .robots-grid {\n    display: grid;\n    grid-template-columns: repeat(2, 1fr);\n    gap: 10px;\n    margin-top: 10px;\n  }\n  \n  .voie-section {\n    background: rgba(255,255,255,0.03);\n    border-radius: 10px;\n    padding: 10px;\n  }\n  \n  .voie-header {\n    font-size: 12px;\n    font-weight: 600;\n    margin-bottom: 8px;\n    padding-bottom: 5px;\n    border-bottom: 1px solid rgba(255,255,255,0.1);\n  }\n  \n  .voie-a .voie-header { color: #4facfe; }\n  .voie-b .voie-header { color: #f7b733; }\n</style>\n\n<div class=\"dashboard\">\n  <div class=\"header\">\n    <h1>🚦 Contrôleur d'Intersection VA55</h1>\n    <div class=\"mode-badge\" ng-class=\"{'mode-fifo': msg.payload.mode=='FIFO', 'mode-feu': msg.payload.mode=='FEU'}\">\n      <span ng-show=\"msg.payload.mode=='FIFO'\">📋</span>\n      <span ng-show=\"msg.payload.mode=='FEU'\">🚦</span>\n      {{msg.payload.mode}}\n    </div>\n  </div>\n\n  <div class=\"stats-bar\">\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #4facfe;\">{{msg.payload.stats.total}}</div>\n      <div class=\"stat-label\">Entrées</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #38ef7d;\">{{msg.payload.stats.passed}}</div>\n      <div class=\"stat-label\">Passages</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" style=\"color: #f7b733;\">{{msg.payload.queue_count}}</div>\n      <div class=\"stat-label\">En attente</div>\n    </div>\n    <div class=\"stat-item\">\n      <div class=\"stat-value\" ng-class=\"{'status-libre': msg.payload.intersection=='LIBRE', 'status-occupe': msg.payload.intersection!='LIBRE'}\">{{msg.payload.intersection == 'LIBRE' ? '✓' : '✕'}}</div>\n      <div class=\"stat-label\">{{msg.payload.intersection}}</div>\n    </div>\n  </div>\n\n  <div class=\"grid\">\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-status\">⚡</div>\n        <div class=\"card-title\">État Intersection</div>\n      </div>\n      <div class=\"card-value\" ng-class=\"{'status-libre': msg.payload.intersection=='LIBRE', 'status-occupe': msg.payload.intersection!='LIBRE'}\">\n        {{msg.payload.intersection}}\n      </div>\n      <div class=\"card-subtitle\">Passage en cours</div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-queue\">⏳</div>\n        <div class=\"card-title\">File d'Attente</div>\n      </div>\n      <div class=\"card-value\">{{msg.payload.queue_count}}</div>\n      <div class=\"card-subtitle\">robots en attente</div>\n      <div class=\"queue-list\" ng-show=\"msg.payload.queue_count > 0\">\n        <span class=\"queue-item\" ng-repeat=\"item in msg.payload.queue_list.split(' → ')\" ng-class=\"{'voie-a': item.indexOf('A') > -1, 'voie-b': item.indexOf('B') > -1}\">{{item}}</span>\n      </div>\n    </div>\n\n    <div class=\"card\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-robots\">🤖</div>\n        <div class=\"card-title\">Robots Actifs</div>\n      </div>\n      <div class=\"card-value\">{{msg.payload.robots_total}}</div>\n      <div class=\"robots-grid\">\n        <div class=\"voie-section voie-a\">\n          <div class=\"voie-header\">Voie A: {{msg.payload.robots_a}}</div>\n        </div>\n        <div class=\"voie-section voie-b\">\n          <div class=\"voie-header\">Voie B: {{msg.payload.robots_b}}</div>\n        </div>\n      </div>\n    </div>\n\n    <div class=\"card\" ng-show=\"msg.payload.mode == 'FEU'\">\n      <div class=\"card-header\">\n        <div class=\"card-icon icon-feu\">💡</div>\n        <div class=\"card-title\">État des Feux</div>\n      </div>\n      <div class=\"feu-container\">\n        <div class=\"feu-item\">\n          <div class=\"feu-circle\" ng-class=\"{'feu-vert': msg.payload.feu_a=='VERT', 'feu-rouge': msg.payload.feu_a=='ROUGE'}\">A</div>\n          <div class=\"feu-label\">{{msg.payload.feu_a}}</div>\n        </div>\n        <div class=\"feu-item\">\n          <div class=\"feu-circle\" ng-class=\"{'feu-vert': msg.payload.feu_b=='VERT', 'feu-rouge': msg.payload.feu_b=='ROUGE'}\">B</div>\n          <div class=\"feu-label\">{{msg.payload.feu_b}}</div>\n        </div>\n      </div>\n    </div>\n  </div>\n\n  <div class=\"history-section\">\n    <div class=\"history-title\">📜 Historique des Événements</div>\n    <div class=\"history-list\">\n      <div class=\"history-item\" ng-repeat=\"h in msg.payload.history\">\n        <span class=\"history-time\">{{h.time}}</span>\n        <span class=\"history-robot\" ng-class=\"{'voie-a': h.voie=='A', 'voie-b': h.voie=='B'}\">{{h.robot}}</span>\n        <span>Étape {{h.etape}}</span>\n        <span class=\"history-action\" ng-class=\"{'action-run': h.action=='run', 'action-stop': h.action=='stop'}\">{{h.action}}</span>\n      </div>\n      <div ng-show=\"!msg.payload.history || msg.payload.history.length == 0\" style=\"color: rgba(255,255,255,0.3); font-style: italic;\">\n        Aucun événement pour le moment...\n      </div>\n    </div>\n  </div>\n</div>",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 780,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "reset_button",
        "type": "ui_button",
        "z": "flow_main",
        "name": "Reset",
        "group": "group_control",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "🔄 Reset",
        "tooltip": "",
        "color": "#ffffff",
        "bgcolor": "#e74c3c",
        "payload": "reset",
        "payloadType": "str",
        "topic": "",
        "x": 100,
        "y": 420,
        "wires": [
            [
                "reset_func"
            ]
        ]
    },
    {
        "id": "reset_func",
        "type": "function",
        "z": "flow_main",
        "name": "Reset State",
        "func": "flow.set(\"state\", {\n    intersection: \"LIBRE\",\n    queue: [],\n    robots: {},\n    feu: { A: \"VERT\", B: \"ROUGE\" },\n    history: [],\n    stats: { total: 0, passed: 0 }\n});\n\nmsg.payload = {\n    mode: global.get(\"mode\") || \"FIFO\",\n    intersection: \"LIBRE\",\n    queue_count: 0,\n    queue_list: \"Aucun\",\n    feu_a: \"VERT\",\n    feu_b: \"ROUGE\",\n    robots_total: 0,\n    robots_a: 0,\n    robots_b: 0,\n    robots: {},\n    history: [],\n    stats: { total: 0, passed: 0 }\n};\nreturn msg;",
        "outputs": 1,
        "x": 290,
        "y": 420,
        "wires": [
            [
                "ui_main"
            ]
        ]
    }
]